Para esse exercicio iremos mostrar que nem mesmo um modelo de aprendizado de maquina, não é capaz de dizer<br/> 
em 100% dos casos em quando uma lista está ordenada, importante resaltar que para esse modelo só foram considerados<br/>
os primeiros 20 elementos da lista para treinar o modelo, o que em um problema real não é suficiente para afirmar que estar ordenado.<br/>
Sendo em casos especificos utilizar o selection sort para ter certeza em 100% dos casos que a lista está ordenada.

In [2]:
import random
import pandas as pd
NUMBER_OF_ELEMENTS = 100
RANGE_OF_ELEMENTS = 100000

def generate_random_numbers():
     return random.sample(range(RANGE_OF_ELEMENTS), NUMBER_OF_ELEMENTS)

list_number = generate_random_numbers()

In [3]:

def selection_sort(list_number):
    size_list = len(list_number)
    for i in range(0,size_list):
        current = list_number[i]
        min_value =  min(list_number[i:])
        min_value_index = list_number.index(min(list_number[i:]))
        if current != min_value :
            list_number[i], list_number[min_value_index] = list_number[min_value_index] , list_number[i]
    return list_number

In [81]:
list_for_frame = [[]]
result = []
for i in range(0,900000):
    lis_number = generate_random_numbers()
    flag = random.randint(1,RANGE_OF_ELEMENTS)
    if flag % 3 == 0:
        lis_number.sort()
        result.append('True')
    else :
        result.append('False')
        
    list_for_frame.append(lis_number[0:20])
df = pd.DataFrame(list_for_frame,columns=['Elem :1','Elem :2','Elem :3','Elem :4','Elem :5','Elem :6','Elem :7',
                        'Elem :8','Elem :9','Elem :10','Elem :11','Elem :12','Elem :13','Elem :14',
                      'Elem :15','Elem :16','Elem :17','Elem :18','Elem :19','Elem :20'])

df = df.drop(df.index[0])

In [82]:
list_pandas_series = pd.Series(result)
df['Result'] = list_pandas_series.values

In [83]:
def make_target_frame(frame, target_column):
    df_mod = frame.copy()
    targets = df_mod[target_column].unique()
    map_to_int = {name: n for n, name in enumerate(targets)}
    df_mod["Target"] = df_mod[target_column].map({'True':1, 'False':0})
    return (df_mod, targets)
frame, targets = make_target_frame(df, "Result")

In [84]:
frame.head()

,Elem :1,Elem :2,Elem :3,Elem :4,Elem :5,Elem :6,Elem :7,Elem :8,Elem :9,Elem :10,...,Elem :13,Elem :14,Elem :15,Elem :16,Elem :17,Elem :18,Elem :19,Elem :20,Result,Target
1,1628.0,2638.0,3814.0,4650.0,4859.0,5369.0,5377.0,5997.0,6334.0,7006.0,...,9141.0,10985.0,11289.0,12584.0,15504.0,16404.0,17273.0,18982.0,True,1
2,641.0,1042.0,3155.0,3244.0,3832.0,4159.0,5653.0,5911.0,6894.0,12067.0,...,16099.0,16866.0,17085.0,17164.0,18584.0,19685.0,20547.0,20939.0,True,1
3,656.0,2077.0,3649.0,3809.0,4543.0,6206.0,6414.0,6491.0,7185.0,7389.0,...,11899.0,12051.0,12488.0,14382.0,14518.0,14719.0,14858.0,17658.0,True,1
4,21601.0,73157.0,78074.0,43293.0,57256.0,57622.0,87039.0,66280.0,37487.0,4347.0,...,23202.0,596.0,27662.0,89683.0,73817.0,7045.0,31269.0,75387.0,False,0
5,64025.0,85569.0,63016.0,86936.0,65847.0,41568.0,35183.0,20263.0,71139.0,53440.0,...,49050.0,48502.0,2426.0,70502.0,73258.0,26680.0,75528.0,47662.0,False,0

In [85]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
columns = list(frame.columns[0:20])

y = frame["Result"]
x = frame[columns]
tree = DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)
tree.fit(X_train,y_train)
predictions = tree.predict(X_test)

### Acurácia

Afim de saber a capacidade do sistema de concluir de forma correta a classificação dos dados.

In [86]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score, hamming_loss
print(accuracy_score(y_test,predictions))

0.9997744107744108

In [87]:
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()
(tn, fp, fn, tp)

(198542, 42, 25, 98391)


<b>tn</b> = Representa a quantidade de result = false, que foram acertados corretamente pelo modelo.<br/>
<b>fp</b> = Representa a quantidade de result = true, que foram errados pelo modelo.<br/>
<b>fn</b> = Representa a quantidade de result = false, que foram errados pelo modelo.<br/>
<b>tp</b> = Representa a quantidade de result = true, que foram acertados corretamente pelo modelo.<br/>